.questionBlock__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.oneClassHeader__textHeader {
	font-weight: 600;
	font-size: 32px;
	line-height: 0;
	padding-bottom: 20px;
}
