.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	font-size: 20px;
	line-height: 0;
	padding-bottom: 20px;
}

.buttonsBlock {
	display: flex;
	gap: 15px;
}
