.oneTest__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.countRating__question {
	z-index: 10;
	position: fixed;
	top: 120px;
	right: 280px;
	width: 50px;
	border-radius: 5px;
	text-align: center;
	padding: 15px 10px;
}

.rating__question__green {
	border: 1px solid #67ac5b;
	background: #67ac5b;
}

.rating__question__yellow {
	border: 1px solid #f6c244;
	background: #f6c244;
}

.rating__question__red {
	border: 1px solid #e15141;
	background: #e15141;
}

.rating__question {
	position: absolute;
	right: 30px;
	top: 20px;
	border-radius: 5px;
	padding: 5px 10px;
}

.oneTest__questionBlock {
	width: 100%;
	padding: 30px;
	padding-top: 50px;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.oneTest__questionBlock::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	width: 100%;
	background: #82b1ff;
	background-position: center center;
	border-radius: 5px 5px 0 0;
	background: #2979ff;
}

.oneTest__headerText {
	font-width: 600;
	font-size: 22px;
	line-height: 100%;
}

.oneTest__loadingContainer {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}
