.oneStudent__questionBlock,
.oneStudent__noDoneWorksBlock {
	width: 100%;
	padding: 30px;
	border-radius: 10px;
	position: relative;
}

.oneStudent__questionBlock {
	padding-top: 45px;
}

.oneStudent__questionBlock::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	width: 100%;
	background: #82b1ff;
	background-position: center center;
	border-radius: 5px 5px 0 0;
	background: #2979ff;
}

.oneStudent__header {
	font-size: 32px;
	line-height: 100%;
	margin: 0;
	padding-bottom: 20px;
}

.oneStudents__doneWorks__page {
	width: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.oneStudent__loadingContainer {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.oneStudent__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (max-width: 1064px) {
	.oneStudents__doneWorks__page {
		grid-template-columns: repeat(3, 1fr);
	}
}
