.container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.buttonsBlock {
	display: flex;
	gap: 15px;
}

.imagesBlock {
	width: 100%;
	height: 300px;
	overflow: auto;
	white-space: nowrap;
	display: flex;
	position: relative;
	gap: 20px;
}

.oneImage__container {
	position: relative;
}

.oneImage__delete {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
}

.oneImage__add {
	height: 300px;
	position: relative;
}
