.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.header {
	color: #949494;
}

.oneStudent {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 15px;
	align-items: start;
}

.buttonsBlock {
	display: flex;
	gap: 15px;
}
