.oneTest__questionInfoBlock {
	width: 1200px;
	padding: 30px;
	padding-top: 50px;
	margin-bottom: 30px;

	border-radius: 10px;
	position: relative;
}

.oneTest__questionInfoBlock::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	width: 100%;
	background: #82b1ff;
	background-position: center center;
	border-radius: 5px 5px 0 0;
	background: #2979ff;
}

.oneTest__questionInfoBlock_deleteButton {
	position: absolute;
	top: 50px;
	right: 30px;
}

.oneTest__questionInfoBlock_header {
	font-size: 32px;
	font-weight: 500;
	line-height: 100%;
	margin: 0;
	padding-bottom: 20px;
}

.oneTest__text {
	font-size: 16px;
	line-height: 100%;
	margin: 0;
}

.hrrrr {
	width: 100%;
	border: none;
	backgroundcolor: "green";
	color: "green";
	height: 1px;
	/* marginbottom: 30px; */
}
