.oneStudent {
	width: 100%;
	display: flex;
	padding: 5px 0px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	transition: 0.3s linear;
}

.oneStudent:not(:last-child)::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0.5px;
	width: 100%;
	background: gray;
}

.oneStudent:hover {
	background: rgba(184, 184, 184, 0.3);
}

.userData {
	padding: 20px;
}

.userData > p:first-child {
	color: #949494;
	font-size: 20px;
}
