.peopleList__oneStusent {
	width: 100%;
	display: flex;
	padding: 5px 10px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	transition: 0.3s linear;
}

.peopleList__oneStusent:not(:last-child)::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	background: gray;
}

.peopleList__oneStusent:hover {
	background: rgba(184, 184, 184, 0.3);
}
