.myWorks__container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	align-items: stretch;
}

.myWorks__loadingContainer {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.myWorks__noLessons {
	width: 100%;
	padding: 30px;
	border-radius: 5px;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: space-between;
}

@media (max-width: 1064px) {
	.myWorks__container {
		grid-template-columns: repeat(3, 1fr);
	}
}
