.oneAddQuestion__container {
	width: 1200px;
	padding: 30px;
	position: relative;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.addQuestions__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.addQuestion__nameBlock {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.addQuestion__textNumber {
	text-decoration: 3px underline solid #2979ff;
}

.addQuestion__header {
	wigth: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
