.criteriaList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.header {
	color: #949494;
}

.listItem {
	display: flex;
	align-items: center;
	gap: 10px;
}
