* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-size: 16px;
	line-height: 100%;
	margin: 0;
}

h1 {
	font-weight: normal;
}
