.lessonsPage__container {
	width: 1200px;
	margin: 0 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: stretch;
}

.lessonsPage__loadingContainer {
	display: flex;
	justify-content: center;
	padding-top: 150px;
}
