.oneCriteria {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: start;
}

.header {
	color: #949494;
}

.container {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 15px;
}

.totalGrade {
	border: 1px solid gray;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 15px;
	margin-left: 20px;
}
