.classBage__container {
	width: 100%;
	padding: 20px;
	padding-top: 25px;
	border-radius: 5px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.classBage__container::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 5px;
	width: 100%;
	background-position: center center;
	border-radius: 5px 5px 0 0;
	background: #2979ff;
}

.classBage__container > p:first-child {
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
}

.classBage__container > p:last-child  {
	text-decoration: 3px underline solid #2979ff;
}
