.doneWorks__page {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 0 5px;
}

.doneWorks__loadingContainer {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.doneWorks__noLessons {
	width: 100%;
	padding: 30px;
	border-radius: 5px;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: space-between;
}
