.container {
	width: 100%;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.questionText {
	font-size: 20px;
}

.infoBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 15px;
}

.questionNumber {
	color: #949494;
}

.imagesBlock {
	width: 100%;
	height: 300px;
	overflow: auto;
	white-space: nowrap;
	display: flex;
	gap: 20px;
}

.image {
	height: 300px;
}
