.questionBlock__container {
	width: 1200px;
	padding: 30px;
	padding-top: 45px;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.questionBlock_questionText {
	font-size: 24px;
}

.questionBlock__infoBlock {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.questionBlock__infoBlock_questionNumber {
	text-decoration: 3px underline solid #2979ff;
}

.questionBlock__imagesBlock {
	width: 100%;
	height: 300px;
	overflow: auto;
	white-space: nowrap;
	display: flex;
	gap: 20px;
}

.questionBlock__image {
	height: 300px;
}
