.oneLesson__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.oneLesson__infoBlock {
	width: 100%;
	padding: 30px;
	padding-top: 45px;
	border-radius: 10px;
	position: relative;
}

.oneLesson__infoBlock::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	width: 100%;
	background: #82b1ff;
	background-position: center center;
	border-radius: 5px 5px 0 0;
	background: #2979ff;
}

.oneLesson__infoBlock_deleteButton {
	position: absolute;
	top: 50px;
	right: 30px;
}

.oneLesson__infoBlock_header {
	font-size: 32px;
	font-weight: 500;
	line-height: 100%;
	margin: 0;
	padding-bottom: 20px;
}

.oneLesson__loadingContainer {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}
