.header__root {
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
	position: fixed;
	width: 100vw;
	z-index: 2;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	padding: 0 10px;
}

.header__text {
	border: 1px solid #2979ff;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0;
	line-height: 30px;
	font-weight: 600;
}
