.addClass__container {
	width: 1200px;
	padding: 50px;
	margin: 25px 0;
	position: relative;
	border-radius: 10px;
}

.addClass__container:first-child::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	width: 100%;
	background: #82b1ff;
	background-position: center center;
	border-radius: 5px 5px 0 0;
	background: #2979ff;
}

.addClass__form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.addClassBlock__loadingContainer {
	display: flex;
	justify-content: center;
	padding-top: 150px;
}

.addClassBlock__usersDataContainer {
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 30px;
}

.addClassBlock__usersDataContainer:first-child::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	width: 100%;
	background: #82b1ff;
	background-position: center center;
	border-radius: 5px 5px 0 0;
	background: #2979ff;
}

.addClassBlock__oneUserDataContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
