.classes__classesList {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
}

.classes__container {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.classes__loadingContainer {
	margin-top: 150px;
	display: flex;
	justify-content: center;
}
